.footer {
	display: flex;
	padding: 60px 0 60px;
	justify-content: center;
	background: #2f303a;
	margin: 0 auto;
}
.footer__inside {
	display: flex;
	width: 1200px;
}
.footer__adress {
	text-decoration: none;
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	color: #ffffff;
}
.footer__join {
	padding: 0 0 20px 70px;
	color: rgb(255, 255, 255);
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
}

.singup {
	margin-left: 78px;
}
.singup__text {
	padding: 0 0 20px;
	color: rgb(255, 255, 255);
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
}
.singup__fieldset {
	display: flex;
	position: relative;
	border: none;
}
.singup__email {
	color: rgb(255, 255, 255);
	padding-left: 10px;
	outline: 0;
	display: flex;
	background: none;
	position: absolute;
	width: 358px;
	height: 50px;
	border-radius: 4px;
	border: 1px solid #ffffff4d;
}